
.sidebar {
  width: 150px;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.1);
}


.sidebar a.active {
  background: #2563eb;
  font-weight: bold;
}


.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
}

.toggle-btn:hover {
  background: #1d4ed8;
}